<nav class="sticky top-0 py-5 border-b bg-white border-b-light-gray-400 section__padding">
  <div class="max-w-4xl mx-auto flex items-center gap-x-8">
    <h1 class="font-extrabold font-mutka text-black text-2xl hidden sm:block">
      <a href="/login">SHARING APPS</a>
    </h1>
    <ul class="flex items-center gap-x-4">
        <a class="font-mutka font-normal text-lg" href="/login">Login</a>
        <a class="font-mutka font-normal text-lg" href="/register">Register</a>
    </ul>
  </div>
</nav>
