<%- include('../partials/head') %>
  <%- include('../partials/navbars/navbarAdmin') %>
    <main class="max-w-7xl mx-auto section__padding overflow-x-hidden">
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
