<%- include('../partials/head') %>
  <%- include('../partials/navbars/navbarProtect') %>
    <main class="container my-3 my-sm-5">
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
