<%- include('../partials/head') %>
  <%- include('../partials/navbars/navbarPublic') %>
    <main class="max-w-4xl mx-auto my-6 sm:my-12">
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
