<%- include('../partials/head') %>
  <%- include('../partials/navbars/navbarPublic') %>
    <main class="max-w-7xl mx-auto py-10 2xl:py-20 section__padding overflow-x-hidden">
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
